{% extends "newlayout.html" %}
<!-- Navbar -->
{%block nav%}
<nav class="navbar navbar-expand-lg navbar navbar-dark" style="border-radius: 25px; background-color: rgb(76, 132, 132); ">
                    <div class=" collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="margin-right: auto; margin-left: auto;">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard" >Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/log_today" >Log's Today</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reports" >Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout" >Log Out</a>
        </li>
    </ul>
    </div>
</nav>
<!-- Navbar -->
{%endblock nav%}
{% block content %}
{% endblock content %}