{% extends "navblock.html" %}
{% block content %}

<h3 style="text-align: center; font-weight: bold; text-decoration: underline;">Need Vs Want</h3>
<img src="/needVwant/" style="margin-left: auto; margin-right: auto; display: block;" alt="Need vs. Want">
<h3 style="text-align: center; font-weight: bold; text-decoration: underline;">Categories Chart</h3>
<img src="/categoriesChart/" style="margin-left: auto; margin-right: auto; display: block;" alt="categoriesChart">
<h3 style="text-align: center; font-weight: bold; text-decoration: underline;">Daily Chart</h3>
<img src="/dailyLineChart/" style="margin-left: auto; margin-right: auto; display: block;" alt="dailyLineChart">

{% endblock content %}